body {
  height: 100vh;
  background: #131313 url(/assets/images/bgd_2400_1600.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  overflow: hidden;
}

body {
  margin: 0;
}

nav {
  // background: linear-gradient(127deg, #0c0c0c, transparent 90%);
  padding: 48px;
  width: 100vw;
  height: 25px;
  position: fixed;
  top: 0;

  a {
    color: #F5F1E9;
    font-family: 'Spline Sans Mono';
    text-decoration: none;
    margin-right: 48px;
  }
}

#nav-title {
  a {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    color: #CDC9C0;
    font-size: 2em;
  }
}

p {
  font-family: 'Source Serif Pro';
  color: #CDC9C0;
  font-style: italic;
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;

  a {
    color: #78746E;
  }

  a:hover {
    color: #CDC9C0;
  }
}

h1 {
  color: #F5F1E9;
  font-family: 'Spectral SC';
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: #F5F1E9;
  font-family: 'Spline Sans Mono';
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow-y: auto;
  top: 15vh;
  max-width: 550px;
  height: 65vh;
  padding: 64px;
  background: 
    linear-gradient(217deg, #131313, transparent 90%),
    linear-gradient(127deg, #131313, transparent 90%)
}
