body {
  height: 100vh;
  min-width: 450px;
  background: #131313 url(/assets/images/bgd_2400_1600.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  overflow: hidden;
}

body {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  padding-left: 48px;
}

nav {
  // background: linear-gradient(127deg, #0c0c0c, transparent 90%);
  padding: 48px;
  width: 100vw;
  height: 25px;
  position: fixed;
  top: 0;

  a {
    color: #F5F1E9;
    font-family: 'Spline Sans Mono';
    text-decoration: none;
    margin-right: 48px;
  }
}

#nav-title {
  a {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    color: #CDC9C0;
    font-size: 2em;
  }
}

@media (max-width: 450px) {
  nav {
    a {
      visibility: hidden;
    }
  }
  #nav-hamburger-menu {
    visibility: visible;
  }
  #nav-title {
    a {
      visibility: visible;
    }
  }
}

#hamburger-nav {
  display: none;
  z-index: 9999;

  height: 100vh;
  width: 380px;
  background-color: #131313;
  flex-direction: column;
  padding: 48px;
  padding-top: 96px;

  a {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    color: #CDC9C0;
    font-size: 2em;
  }
}

@media (min-width: 451px) {
  #nav-hamburger-menu {
    visibility: hidden;
  }
  #hamburger-nav {
    display: none;
  }
}

p {
  font-family: 'Source Serif Pro';
  color: #CDC9C0;
  font-style: italic;
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;

  a {
    color: #78746E;
  }

  a:hover {
    color: #CDC9C0;
  }
}

h1 {
  color: #F5F1E9;
  font-family: 'Spectral SC';
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: #F5F1E9;
  font-family: 'Spline Sans Mono';
}

h3 {
  color: #F5F1E9;
  font-family: 'Source Serif Pro';
  font-size: 1.2em;
  text-transform: uppercase;
}

.post-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow-y: auto;
  max-width: 550px;
  top: 20vh;
  height: 65vh;
  padding: 64px;
  background: 
    linear-gradient(217deg, #131313, transparent 90%),
    linear-gradient(127deg, #131313, transparent 90%)
}

.show {display:flex;}

@media (max-width: 450px) {
  .post-container {
    top: 15vh;
  }
}